# Spawnea environment configuration
export SPAWNEA_ENV="development"
export SPAWNEA_LOG_LEVEL="debug"
export SPAWNEA_CONTROL_ENABLED="1"

# Load uncommitted local overrides if present
# DO NOT PUT SENSITIVE INFORMATION IN THIS VERSIONED FILE!!!!!!!!! 
if [ -f .envrc.custom ]; then
  source .envrc.custom
fi
# DO NOT PUT SENSITIVE INFORMATION IN THIS VERSIONED FILE!!!!!!!!!

